# MariaDB 10.1 CentOS repository list - created 2016-11-28 07:04 UTC
# http://downloads.mariadb.org/mariadb/repositories/
[mariadb]
name = MariaDB
baseurl = http://"{{ USE_LOCAL_REPO }}".tw/yum/mariadb/
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=0